<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User - Пользователь</title>
</head>
<body>
<h1>Сведения о пользователе</h1>
<p th:text="${user.getName()}"/>
<p th:text="${user.getSurname()}"/>
<p th:text="${user.getEmail()}"/>
<br/>
<a th:href="@{/users/{id}/edit(id = ${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id = ${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>